<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title th:text="#{app.name}">List of Hotels</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Hotels</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Address</th>
								<th>Zip</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${hotels.empty}">
								<td colspan="5">No messages</td>
							</tr>
							<tr th:each="hotel : ${hotels}">
								<td th:text="${hotel.id}">1</td>
								<td th:text="${hotel.name}">Test Name 1</td>
								<td th:text="${hotel.address}">Test Address 1</td>
								<td th:text="${hotel.zip}">Test Zip 1</td>
								<td><a th:href="@{/hotels/edit/__${hotel.id}__}" href="#">Edit</a>
									| <a th:href="@{/hotels/delete/__${hotel.id}__}" href="#">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" th:href="@{/hotels?form=true}" class="btn btn-default">New Hotel</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>